.vs/
.vscode/
node_modules/

*.vsidx
.vs/ImageRankingWebApp/FileContentIndex/ef315461-111d-453f-8a40-678c4c8e0887.vsidx
*.vsidx
webapi/obj/
webapi/bin/
.vs/ProjectEvaluation/imagerankingwebapp.metadata.v7.bin
.vs/ProjectEvaluation/imagerankingwebapp.projects.v7.bin
/.vs/ImageRankingWebApp/v17
