<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/354c9b34-f76d-48cd-848c-f5123927d809/resourcegroups/ImageRankingWebApp/providers/Microsoft.ContainerRegistry/registries/webapi20240403172656</ResourceId>
    <ResourceName>webapi20240403172656</ResourceName>
    <ResourceGroup>ImageRankingWebApp</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://webapi20240403172656.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>258e0e6b-ff2a-44f8-88e2-145caac209ec</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>